.brandlogo{
    width: 10rem;
}
.card:hover{
    transform: scale(95%);
}
.shimmer-card{
    background-color: #c6c6c6;
    width: 180px;
    height: 200px;
}
.cardimgg{
    width: 100%;
    height: 30vh;
    object-fit: cover;
}
.divinsideelement{
    background-color: #c6c6c6;
    height: 50px;
}
@media (min-width:300px){
    .bodycontainer,
    .shimmer-container,
    .contactuspage{
        margin-top: 110px;
    }
 }
 @media(max-width:991px){
    .bodycontainer .topresbtn,
    .shimmer-container .topresbtn
    {
        display: none;
    } 
}
 @media screen and (min-width:991px) {
    .bodycontainer .topresbtn,
    .shimmer-container .topresbtn{
        display: block;
    }
}

