.brand-img{
    width: 10rem;
}
.card:hover{
    transform: scale(95%);
}
.cardimg{
    width: 100%;
    height: 35vh;
}
.filterbutton{
    height: 30px;
}
.shimmercontainer .filterbutton{
    height: 30px;
}
@media screen and (max-width : 575px){
    .bodycontainer .filterbutton{
        height: 25px;
        font-size: 10px;
    }
    .menu-shimmer .ratingShimmer{
        display: none;
    }
}
.hovering-pointer:hover{
    cursor: pointer;
}
.element-displaying{
    background-color: #c6c6c6;
    height: 50px;
}
.element-displaying-menu{
    background-color: #c6c6c6;
    height: 30px;
}
.shimmer-card{
    background-color: #c6c6c6;
    width: 180px;
    height: 200px;
}
.ratingShimmer{
    height: 100px;
}